@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;700&display=swap');

/* PROJECT GENERAL STLYES & COLOR PALETTE */

html {
    background-color:#000;
}

body {
    font-family: 'Raleway',sans-serif;
    font-weight:400;
}

#red-bg {
    background-color: #d93c35;
}

#orange-bg {
    background-color: #e99740;
}

#yellow-bg {
    background-color: #f6ef55;
}

#green-bg {
    background-color: #60b456;
}

#blue-bg {
    background-color: #55a7dd;
}

#purple-bg {
    background-color: #772f8f;
}

#brown-bg {
    background-color: #5a3c1d;
}

#black-bg {
    background-color: #000;
}

#white-bg {
    background-color: #fff;
}

#mid-grey-bg {
    background-color: #ccc;
}

#black-bg,
#brown-bg,
#purple-bg {
    color: #ccc;
}

#red-bg, #orange-bg, #yellow-bg, #green-bg, #blue-bg, #white-bg {
    color:#000;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.bold {
    font-weight:700;
    letter-spacing:2px;
}

h1 {
    font-weight: 600;
    font-size:2rem;
    padding: 5px 0;
    margin: 0;
}

/* NAVBAR STYLES */

.logo {
    background: url("../images/colour-theory-logo-grey.png") no-repeat center center;
    background-size: contain;
    min-height:150px;
    max-width:50%;
    padding-left: 1.25rem;
}

header {
    font-weight:600;
    margin:0;
    padding:0;
    height:150px;
    position: relative;
    z-index:3;
}

.nav-item a i {
    display:block;
    text-align: center;
    font-size: 1.8rem;
    padding:.5rem .5rem;
}

.navbar-nav {
    position:absolute;
    font-size:1.2rem;
    letter-spacing:3px;
    right:0.63rem;
    bottom:3px;
}

.dropdown-menu {
    padding: 0;
}

.nav-link:hover,.dropdown-item:hover {
    text-decoration: underline 1pt;
}

.navbar-toggler-icon {
    font-size:2.8rem;
    display:contents;
}

.active {
    text-decoration: underline 1pt;
}

 /* IMG GALLERY STYLES */

.scroll-container {
    display: flex;
    margin:0;
    padding:0;
    overflow: hidden;
    white-space: nowrap;
 }

 .gallery {
    overflow: auto;
    min-width:100px;
    max-width:200px;
    min-height:100px;
    max-height:200px;
    object-fit: contain;
 }

/* COLOUR SPLAT GRID STYLES */

.img-fluid {
    max-height: 200px;
}

.splat-text {
    display: grid;
    position: relative;
    top: 50%;
    z-index: 1;
    margin:0 8rem;
}

/* COLOUR PAGES STYLE */

div .card-header {
    font-weight:600;
    margin:0;
    padding:0;
}

#white-card-body {
    background-color: #eee;
}

.psyc-list {
    text-transform: capitalize;
    font-weight:700;
    text-align: center;
    margin:0;
    padding:0 3.1rem;
}

.design-list {
    text-transform: capitalize;
    text-align: center;
    margin: 0;
}

.list-title {
    text-decoration: underline;
    font-weight:700;
    list-style-type: none;
}

.design {
    text-align:center;
}

.opposite-color {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

/* SCIENCE + MEDIA PAGE STYLES */

.media-borders {
    border:0.63rem solid #ccc;
    max-width: 500px;
}

.mantis-position {
    text-align: right;
}

.mantis-text {
    background-color: #fff;
    text-align:left;
}

/* FOOTER STYLES */

h2 {
    font-weight:400;
    font-size: 1.2rem;
}

.footer-title {
    font-size:1.5rem;
    line-height:1.4;
    font-weight:400;
}

ul ul {
    list-style-type: none;
    padding-left:0;
}

.footer-link {
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: 200;
}

/* MEDIA QUERIES */

@media screen and (min-width:451px) and (max-width:768px) {
    .navbar-nav {
        position:unset;
    }
    .mantis-position {
        text-align: center;
    }
    .mantis-text {
        text-align: center;
    }
    h1 {
        font-size:1.5rem;
    }
    .footer-title {
        padding-left:20px;
    }
    .nav-item a i {
        display:inline-block;
        padding-right:0.7rem;
    }
    .psyc-list {
        padding:0 15px;
    }
 }

@media screen and (max-width:450px) {
    .navbar-nav {
        position: unset;
    }
    .nav-item a i {
        display: inline-block;
        padding-right: 0.7rem;
    }
    .mantis-position {
        text-align: center;
    }
    .mantis-text {
        text-align: center;
    }
    body,
    h1,
    h2,
    .footer-link {
        font-size:.9rem;
    }
    .footer-title {
        font-size: .9rem;
        padding-left:.9rem;
    }
    .psyc-list {
        margin:0;
        padding:0 .9rem;
        font-size:.8rem;
    }
    .card-header h2 button {
        font-size:0.8rem;
        letter-spacing:1.5px;
    }
}


