

/* ............................................PROJECT COLOR PALETTE */

#red-bg {
    background-color: #d93c35;
}

#orange-bg {
    background-color: #e99740;
}

#yellow-bg {
    background-color: #f6ef55;
}

#green-bg {
    background-color: #60b456;
}

#blue-bg {
    background-color: #55a7dd;
}

#purple-bg {
    background-color: #9843b4;
}

#brown-bg {
    background-color: #5a3c1d;
}

#black-bg {
    background-color: #000;
}

#white-bg {
    background-color: #fff;
}

#mid-grey-bg {
    background-color: #ccc;
}



/* ............................................NAVBAR STYLES */

header {
    margin:0;
    height:150px;
}

header a img {
    width: 100px;
    height: 100px;
}

.bg-navbar {
    background-color: #000;
}

.bg-navbar a {
    color:#ccc;
}

 .nav-link {
    position: relative;
    bottom: -50px;
    font-size: large;
 }

 a.dropdown-item {
    color:#ccc;
    background-color: #000;
 }


 /* NEED TO CHANGE THE HOVER OVER COLOR ON THIS DROPDOWN */
 .dropdown {
    background-color: #000;
 }

 div.dropdown-menu.show{
    margin:0;
    padding; 0 0;
    position:absolute;
    margin-top:50px;
    margin-left:-4px;
 }


/* ............................................GRID STYLES */

section {
    margin:0;
    position:absolute;
    background-color: #ccc;   
}

.color-grid div {
    display:flex;
    justify-content: space-around;
    margin:10px;
    padding: 50px;
    background-color: #fff;
}

.center {
    position:relative;
    text-align: center;
}

/* ............................................FOOTER STYLES */

footer {
    height:150px;
}