

/* ............................................PROJECT COLOR PALETTE 

RED         #d93c35
ORANGE      #e99740
YELLOW      #f6ef55
GREEN       #60b456
BLUE        #55a7dd
PURPLE      #9843b4
BROWN       #5a3c1d
BLACK       #000
WHITE       #fff

MID GREY    #ccc

*/


/* ............................................NAVBAR STYLES */

.bg-navbar {
    background-color: #000;
}

.bg-navbar a {
    color:#ccc;
}

header a img {
    width:100px;
    height:100px;
}
 .nav-link {
    position: relative;
    bottom: -45px;
 }
/* ............................................GRID STYLES */

section {
    background-color: #ccc;   
}

.color-grid {
    background-color: #fff;
    max-height:33%;
}

.center {
    position:relative;
    text-align: center;
}